Quality Values in Representation Variants

I had previous asked about this [during the WG session during IETF 101](https://youtu.be/RaNy8HewRqM?t=8911).

I believe this specification should explicitly declare if servers are obligated to honor quality value prioritisation as given to them from clients. The [example provided in the introduction](https://tools.ietf.org/html/draft-ietf-httpbis-variants-00#section-1) shows the server serving the French version of the content despite having the English variant available and the user agent setting preference for it. Does this imply that quality values are to be ignored?

Can you clarify how you conclude that the server possesses an English variant and ignores the quality values?  The text explicitly says that, because the cache observed the request for `en;q=1.0, fr;q=0.5` got a response in French, it "might be able to infer that an English representation is *not* available." (Emphasis added.)

Ah, never mind.  In the second example with Variants, the server claims possession of an English variant.  I think this is just a bug in the second example.

Sorry, I should have explicitly stated the second example. Bug in the example or not, I still believe this specification should make a clear position.

Hi Thomas,

Step 2 of each of the algorithms for `Accept`, `Accept-Language` and `Accept-Encoding` already accounts for this; for example, in [A.1](http://httpwg.org/http-extensions/draft-ietf-httpbis-variants.html#content-type):

> 2. Let preferred-types be a list of the types in the request-value, ordered by their weight, highest to lowest, as per [RFC7231] Section 5.3.2 (omitting any coding with a weight of 0). If “Accept” is not present or empty, preferred-types will be empty. If a type lacks an explicit weight, an implementation MAY assign one.

I see the bug in the examples; will fix.

Ordering by weight is applying the `q` value. 

It's not appropriate to make a blanket statement, because not all headers that use `Variants` will define its use (e.g., the various [Client Hints](http://httpwg.org/http-extensions/draft-ietf-httpbis-client-hints.html)). It's up to each individual header to decide how its semantics get mapped into `Variants`.



Closing; if you feel this hasn't been addressed, please comment.