[Connect-TCP WGLC] Capsule forwarding and intermediaries

[RFC 9297 Section 3.2](https://www.rfc-editor.org/rfc/rfc9297.html#section-3.2) says: 
> Because new protocols or extensions might define new Capsule Types, intermediaries that wish to allow for future extensibility SHOULD forward Capsules without modification unless the definition of the Capsule Type in use specifies additional intermediary processing. One such Capsule Type is the DATAGRAM Capsule; see [Section 3.5](https://www.rfc-editor.org/rfc/rfc9297.html#datagram-capsule). In particular, intermediaries SHOULD forward Capsules with an unknown Capsule Type without modification.

This document says: 
> An intermediary MAY merge and split successive DATA and FINAL_DATA capsules, subject to the following requirements:
> - There are no intervening capsules of other types.
> - The order of payload content is preserved.
> - The final emitted capsule uses the same capsule type (DATA or FINAL_DATA) as the final input capsule, and all others use the DATA capsule type.

So we're defining "additional intermediary processing", but would it be worth adding a little bit of text to make it clear that applies in the context of just `connect-tcp` and not anyone who might reuse DATA and FINAL_DATA for other reasons? 

Perhaps: 
> Intermediaries that forward capsules per [RFC9297] Section 3.2 without implementing the “connect-tcp” protocol MUST forward DATA and FINAL_DATA capsules without modification.

Or did we intend for that to be something intermediaries can do any time they see DATA or FINAL_DATA capsules? 

Capsules are generally defined independently of the :protocol.  So yes, this is a general property of DATA/FINAL_DATA, for any :protocol that uses them.