6265bis: public suffix def

The spec currently says:

> The term “public suffix” is defined in a note in Section 5.3 of [RFC6265]

This should actually point to Section 5.4 (right now) of 6265bis.

That said, that note is hidden there very well; instead the contents should me moved up to the terminology section.

Indeed, thanks. This is probably a remnant from moving the definition over from the `SameSite` draft.

I suspect I know the answer to this question from the HTTP WG's perspective, but the URL spec defines both "[public suffix](https://url.spec.whatwg.org/#host-public-suffix)" and "[registrable domain](https://url.spec.whatwg.org/#host-registrable-domain)" . I wonder if it's worth aligning those references in some way rather than copying them.

Perhaps there's some place that we could collectively agree to point at (where "we" includes folks like @annevk @mnot and whoever feels responsible for RFC3986 and RFC3987)?