relax restriction of generic XML media type in request body

> The body payload of the request defines the query. Implementations MAY use a request body of any content type with the SEARCH method; however, for backwards compatibility with existing WebDAV implementations, SEARCH requests that use the text/xml or application/xml media types MUST be processed per the requirements established by [RFC5323].

This can be relaxed to XML with a document element in the "DAV:" namespace, or even to the two element names mentioned in Section 2.2.2 of [RFC5323].