Overwriting references (client-cert)

This is not good:

```
*** overwriting RFC9113
*** overwriting RFC9112
*** overwriting RFC9114
*** overwriting I-D.ietf-httpbis-message-signatures
```

Sorry, somehow didn't see this. There are reasons but they are unimportant.  

It's not good. But not so bad either. Regardless, PR #2579 should cleanup the messages. 

ping

ping

Also FWIW this draft went into the RFC Editor's queue round about the time this issue was created  https://datatracker.ietf.org/doc/draft-ietf-httpbis-client-cert-field/history/