[Connect-TCP WGLC] Are proxies expected to allow the default template URI?

We define a default template URI and say that clients SHOULD fall back to it: 

> If the client infers that classic HTTP CONNECT is not supported, it SHOULD retry the request using the registered default template for "connect-tcp":

And [RFC 9298 Section 2](https://www.rfc-editor.org/rfc/rfc9298.html#section-2) says:
> UDP proxy deployments SHOULD offer service at this location if they need to interoperate with such clients.

Should we state something similar in this document that "deployments SHOULD offer service at the default template URI", just for completeness? 

I don't think we should make a recommendation like that.

For RFC 9298, using the .well-known/ template is required for interoperability with an anticipated class of potential clients (clients that start with a domain for Classic CONNECT, and want to discover CONNECT-UDP).  For this draft, using .well-known is not required for compatibility with any anticipated class of clients, because any clients that are bootstrapping from a bare hostname are expected to try Classic CONNECT first.

I think it's OK to not recommend this with a SHOULD; I'd be OK to close this without a change (speaking as individual)