draft-ietf-httpbis-alias-proxy-status: Use of "alias" differs from DNS term "alias"

This draft (-00) is using the term "alias" in a slightly different way than used in DNS:

> The next-hop-aliases parameter's value is a String that contains one or more DNS names in a comma-separated list. The items in the list include **all names received in CNAME records** [DNS] during the course of resolving the next hop's hostname using DNS. […] The aliases SHOULD appear in the order in which they were received in DNS; that is, **if a name has a CNAME record with a first alias, which has a CNAME record for a second alias, the aliases should appear in that order.**

A CNAME record has two names, the owner name on the left-hand side or "alias", and the target name on the right-hand side or "canonical name".

RFC 8499 (DNS Terminology):

```
   Alias:  The owner of a CNAME resource record, or a subdomain of the
      owner of a DNAME resource record (DNAME records are defined in
      [RFC6672]).  See also "canonical name".

   Canonical name:  A CNAME resource record "identifies its owner name
      as an alias, and specifies the corresponding canonical name in the
      RDATA section of the RR."  (Quoted from [RFC1034], Section 3.6.2)
      This usage of the word "canonical" is related to the mathematical
      concept of "canonical form".

Hoffman, et al.           Best Current Practice                 [Page 9]
RFC 8499                     DNS Terminology                January 2019

   CNAME:  "It has been traditional to refer to the [owner] of a CNAME
      record as 'a CNAME'.  This is unfortunate, as 'CNAME' is an
      abbreviation of 'canonical name', and the [owner] of a CNAME
      record is most certainly not a canonical name."  (Quoted from
      [RFC2181], Section 10.1.1.  The quoted text has been changed from
      "label" to "owner".)
```

In other words, to use the example in the draft:
```
Proxy-Status: proxy.example.net; next-hop=2001:db8::1;
    next-hop-aliases="tracker.example.com.,service1.example-cdn.com."
```

Which might correspond to a DNS response that looked something like:
```
proxy.example.net.          CNAME   tracker.example.com.
tracker.example.com.        CNAME   service1.example-cdn.com.
service1.example-cdn.com.   AAAA    2001:db8::1
```

`proxy.example.net` and `tracker.example.com` are DNS **aliases** (because there are CNAME records with those owner names) whereas `service1.example-cdn.com` is a DNS "canonical name" without an alias. But `service1.example-cdn.com` is included in the `next-hop-aliases` example in this draft.

This might be confusing for the DNS name at the end of the CNAME chain (which is not an alias from a DNS perspective), so I might suggest changing:

> Description: A string containing one or more DNS alises used to establish a proxied connection to the next hop.

to something like:

> Description: A string containing one or more DNS aliases or canonical names used to establish a proxied connection to the next hop.