Format issues in rfc6265bis

The following warnings all need looking into:

```
draft-ietf-httpbis-rfc6265bis.xml(1972): Warning: Unused reference: There seems to be no reference to [RFC1034] in the document
draft-ietf-httpbis-rfc6265bis.xml(1987): Warning: Unused reference: There seems to be no reference to [RFC1123] in the document
draft-ietf-httpbis-rfc6265bis.xml(1077): Warning: Artwork too wide, reducing indentation from 3 to 1
draft-ietf-httpbis-rfc6265bis.xml(1081): Warning: Artwork too wide, reducing indentation from 3 to 0
draft-ietf-httpbis-rfc6265bis.xml(1053): Warning: Section too wide, reducing indentation from 0 to 0
draft-ietf-httpbis-rfc6265bis.xml(1012): Warning: Section too wide, reducing indentation from 0 to 0
draft-ietf-httpbis-rfc6265bis.xml(835): Warning: Section too wide, reducing indentation from 0 to 0
draft-ietf-httpbis-rfc6265bis.xml(561): Warning: Section too wide, reducing indentation from 0 to 0
draft-ietf-httpbis-rfc6265bis.xml(68): Warning: Middle too wide, reducing indentation from 0 to 0
draft-ietf-httpbis-rfc6265bis.xml(583): Warning: Too long line found (L792), 1 characters longer than 72 characters:
      non-delimiter   = %x00-08 / %x0A-1F / DIGIT / ":" / ALPHA / %x7F-FF
draft-ietf-httpbis-rfc6265bis.xml(1081): Warning: Too long line found (L1381), 3 characters longer than 72 characters:
   1.  The HTTP request associated with the retrieval uses a "safe" method.
draft-ietf-httpbis-rfc6265bis.xml(1081): Warning: Too long line found (L1384), 4 characters longer than 72 characters:
       elapsed since the cookie's creation-time is at most a duration of the
```

Some of these appear to just be problems in diagrams, but there are broken references and some input formatting issues.

Working on this now and I've cleaned up everything except for the unused reference warnings.

RFC1034 and RFC1123 do appear to be referenced in the Syntax section
```
domain-value      = <subdomain>
                      ; defined in [RFC1034], Section 3.5, as
                      ; enhanced by [RFC1123], Section 2.1
```
However it looks like the tool doing the checks doesn't recognize references within artwork. If I add `{{RFC1034}} {{RFC1123}}` elsewhere the warnings aren't emitted. Adding that line within the artwork has no effect.

@martinthomson Do you know what tool is performing this check? This seems like it could be a bug.

That is xml2rfc complaining.

The problem is that text in artworks is not references.  It's just text in brackets.  You should add text somewhere that says something like:

> This document uses ABNF rules from {{!RFC1034}}, {{!RFC1123}}, and ...

Otherwise, you haven't created a reference.