signatures: HTTP header line folding

The HTTP Header canonicalization algorithm does not account for line folding even though the non-normative example shows one such header. Although deprecated, we should continue supporting line folding due to the significant userbase of HTTP/1.1 in the wild.

My impression was that this is already handled by the language in [Section 3.2.4 of RFC7230](https://tools.ietf.org/html/rfc7230#section-3.2.4), but it won't hurt to make this explicit here. 👍

@richanna you're right - I initially misread and got confused.

On a second reading of RFC7230 3.2.4 I notice this (emphasis mine):

>    A server that receives an obs-fold in a request message that is not
   within a message/http container MUST either reject the message by
   sending a 400 (Bad Request), preferably with a representation
   explaining that obsolete line folding is unacceptable, or **replace
   each received obs-fold with one or more SP octets prior to
   interpreting the field value** or forwarding the message downstream.

Do we need to specify the number of SP octets for replacements such that implementations can reliably produce the correct signature input?

FYI, a quick test in golang shows that `obs-fold` is not being replaced:

```go
func Test(t *testing.T) {
	request, err := http.NewRequest(http.MethodGet, "http://example.org/foo", nil)
	require.NoError(t, err)
	request.Header.Set("X-Example", `Example header
                     with some whitespace.`)
	expected := "Example header with some whitespace."
	actual := request.Header.Get("X-EXAMPLE")
	require.Equal(t, expected, actual)
}
```

Result:

```
        	Error:      	Not equal: 
        	            	expected: "Example header with some whitespace."
        	            	actual  : "Example header\n                     with some whitespace."
        	            	
        	            	Diff:
        	            	--- Expected
        	            	+++ Actual
        	            	@@ -1 +1,2 @@
        	            	-Example header with some whitespace.
        	            	+Example header
        	            	+                     with some whitespace.
```

I suppose a more complete test can be carried out by spooling two test servers and sending requests/responses between them and see what happens.

Altering the content of the signed headers is something that may be tricky to address and, in a certain way, breaks the signature goals tying this spec to a specific version of HTTP Messaging (eg. HTTP/1.1) .

imho we should only rely on HTTP Semantics (eg. RFC7231) and avoid any tie with MESSAGING (RFC7231) , HTTP/2 or QUIC.

I think that the "field value canonicalization" issue should be addressed within a specific issue. This topic can benefit from the experience of current implementations.

@ioggstream 

> Altering the content of the signed headers is something that may be tricky to address

Agreed.

> breaks the signature goals tying this spec to a specific version of HTTP Messaging (eg. HTTP/1.1)

Sure does. 

> current implementations

Two levels - language support and then httpsig library support:

**Language support:**

* Golang: allows setting header values spanning multiple lines. Does not substitute `obs-fold` with SP.
* Javascript/Node: allows setting header values spanning multiple lines. Does not substitute `obs-fold` with SP.
* [Default implementation of Java 11+ `HttpRequest.Builder`](https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/HttpRequest.Builder.html): does **not** allow header values with line breaks[1]

**Library support:**

None of the httpsig implementations I've so far tested work with folded headers... here are a couple:

<details><summary>digitalbazaar/http-signature-header</summary>

Test Case:

```javascript
    it('properly encodes a folded header value', () => {
      const date = new Date().toUTCString();
      const multiLine = `Example header
                spanning multiple lines.`;
      const requestOptions = {
        headers: {date, multiLine},
        method: 'GET',
        url: 'https://example.com:18443/1/2/3',
      };
      const stringToSign = httpSignatureHeader.createSignatureString(
        {includeHeaders: ['host', 'date', 'multiLine'], requestOptions});
      stringToSign.should.equal(
        `host: example.com:18443\ndate: ${date}\nmultiLine: Example header spanning multiple lines.`);
    });
```

Result:

```
  1) http-signature
       createSignatureString API
         properly encodes a folded header value:

      AssertionError: expected 'host: example.com:18443\ndate: Sat, 24 Oct 2020 15:11:18 GMT\nmultiline: Example header\n                spanning multiple lines.' to equal 'host: example.com:18443\ndate: Sat, 24 Oct 2020 15:11:18 GMT\nmultiLine: Example header spanning multiple lines.'
      + expected - actual

       host: example.com:18443
       date: Sat, 24 Oct 2020 15:11:18 GMT
      -multiline: Example header
      -                spanning multiple lines.
      +multiLine: Example header spanning multiple lines.
```
</details>

<details><summary>igor-pavlenko/httpsignatures-go</summary>

Test Case (added to TestHSBuildSignatureString):
```go
		{
			name: "Folded HTTP header",
			args: args{
				ph: Headers{
					headers: []string{"X-EXAMPLE-FOLDED"},
				},
				r: (func() *http.Request {
					r := httptest.NewRequest(http.MethodGet, "http://example.org/foo", nil)
					r.Header.Set("X-EXAMPLE-FOLDED", `Example folded header
                             spanning multiple lines.`)
					return r
				})(),
			},
			want: []byte("x-example-folded: Example folded header spanning multiple lines."),
		},
```

Result (modified printed output in lib_test.go slightly):
```
        	Messages:   	got [x-example-folded: Example folded header
        	            	                             spanning multiple lines.]
        	            	want [x-example-folded: Example folded header spanning multiple lines.]
```

----

[1] HttpRequest.Builder.header():

<details><summary>Test Case</summary>

```java
  @Test
  public void test() {
    final var request = HttpRequest.newBuilder()
      .header("X-EXAMPLE-FOLD", String.format("Example header%n        spanning multiple lines."))
      .build();
    MatcherAssert.assertThat(
      request.headers().firstValue("X-EXAMPLE-FOLD").get(),
      new IsEqual<>("Example header spanning multiple lines.")
    );
  }
```

Result:

```
java.lang.IllegalArgumentException: invalid header value: "Example header
        spanning multiple lines."
```

</details>

The biggest issue here is support at the language level.

Preliminary thought: forget folding, just take the HTTP header's value as-is.

Further testing: integration test between a language that supports multi-line header values vs a language that does not (Java).

> Preliminary thought: forget folding, just take the HTTP header's value as-is.

We tried this as a general design rule for the first seven or so years of this spec (depended on whatever the HTTP libraries in each language gave us back, which tended to be the same) and it seemed to work well.

That said, if all the languages support a specific type of transformation, we should consider it noting that there are many more implementations out there that won't do the transformation.

What we really need is a test suite to run each implementation against. :)

> Preliminary thought: forget folding, just take the HTTP header's value as-is.

The header value "as-is" may be different for the recipient than it was for the sender. Message Signatures need to survive passage through any number of proxies that neither sender nor recipient have control over. They therefore need to be robust against any legal changes to the HTTP message that such proxies might apply (to the greatest extent possible, anyway). My understanding is that 7230 says proxies MUST replace obs-fold with SP. Whether or not implementations do may be another matter, but since it is perfectly legal and actually expected, Message Signatures ought to tolerate it.

I see two options:
1. Mandate a specific number of SPs (e.g., one), and hope that covers the vast majority of deployments
2. Prohibit signing of field values that contain obs-folds. Since 7230 already requires senders not to include obs-folds, this seems reasonable to me. The fly in the ointment might be `message/http`, but I'm not familiar enough with that use case yet.

I think warning against obs-fold signing because of this known implementation issue should be sufficient. We can prohibit it in the spec but a lot of people will get lucky while signing such fields and do it anyway, until it breaks. 

This has been updated in the examples in #1903 and I think can be closed, please review.