Signatures: 2.1.3 Dictionary Structured Field Members

In section 2.1.3 we have:

https://github.com/httpwg/http-extensions/blob/28685efd422e2512bec9cc7326e1c9882b84575d/draft-ietf-httpbis-message-signatures.md?plain=1#L285

I assume this means to reference the list serialization of SFV instead. Something like this:

> An individual member in the value of a Dictionary Structured Field is canonicalized by applying the serialization algorithm described in {{Section 4.1.1 of RFC8941}} on a List containing only that item.


On closer read, it needs to be serialization on the Item itself, not a single-member Dictionary or List. It's an artifact that a single-member List and an Item are the same, though I think that's actually more confusing.

Text should be fixed by cleanup in #1903: I pointed to the dictionary section 4.1.2 but without the call for it to be a "single-member dictionary". I think the single-member list is accurate but confusing here, so the new text says to serialize the member item itself. Leaving this open to see if this can be made even clearer.