signatures: clarification around RSASSA-PSS salt/randomness for examples.

The Signing HTTP Messages draft provides an [example key](https://httpwg.org/http-extensions/draft-ietf-httpbis-message-signatures.html#name-example-key-rsa-test) along with [test cases](https://httpwg.org/http-extensions/draft-ietf-httpbis-message-signatures.html#name-test-cases), however [RFC-8017 Section 8.1](https://www.rfc-editor.org/rfc/rfc8017.html#section-8.1) states that the output is "probabilistic rather than deterministic, incorporating a randomly generated salt value".

Using the example key, I'm unable to reproduce the provided examples. (Full code at https://play.golang.org/p/1Z9Cp8FH23u)

```go
		h := crypto.SHA512.New()
		// Hash writes never return an error
		h.Write(data)
		opt := &rsa.PSSOptions{
			// use 0 for consistency
			SaltLength: 0,
		}
		return rsa.SignPSS(Rand, privateKey, crypto.SHA512, h.Sum(nil), opt)
```

```
--- FAIL: TestSigner (0.00s)
    --- FAIL: TestSigner/MinimalRecommended (0.00s)
        prog.go:113: unexpected signature: 
            wanted QaVaWYfF2da6tG66Xtd0GrVFChJ0fOWUe/C6kaYESPiYYwnMH9egOgyKqgLLY9NQJFk7bQY834sHEUwjS5ByEBaO3QNwIvqEY1qAAU/2MX14tc9Yn7ELBnaaNHaHkV3xVO9KIuLT7V6e4OUuGb1axfbXpMgPEql6CEFrn6K95CLuuKP5/gOEcBtmJp5L58gN4VvZrk2OVA6U971YiEDNuDa4CwMcQMvcGssbc/L3OULTUffD/1VcPtdGImP2uvVQntpT8b2lBeBpfh8MuaV2vtzidyBYFtAUoYhRWO8+ntqA1q2OK4LMjM2XgDScSVWvGdVd459A0wI9lRlnPap3zg==
            got:   as7Hx5t+wfxvCqDC34TxTkZAOkdRzWch9gFtwfK72oTtul+PGIia5lArFr0ImySuUOBURbbi7QY7+cXzEjq6Bvg/9cYlVxPUAccx1cQIpTvMdnPIfRWXxZwNCFyQObt1jyawZ1PGKUV5lOTt6HnOslnRgIXuzqgk0+1EpNZ6lw+bHW//jZUn9+0UqUUyfrBTAWCyWCQhOww66YiMe1b7uR1Ll95LwyXEPOYUa7jlhY/aPNtaVQt4nH+OAWYG+yHSE4wI046+41uazG2YaxWWZT73ATCf2nTtsccPekzTUBwxCmCoORn6kFQNdVhZzerAqqS1o8Jo7DyxzRp2mkS5Bw==
FAIL

```



You shouldn't expect to reproduce the signed examples exactly, but you should be able to validate them given the keys and information in the spec. The examples were all re-generated in -04, more guidance on this aspect can be added.

I believe this issue has been cleared up with the new specifications of PSS and the newly generated examples. @micahhausler can you confirm?

LGTM