draft-ietf-httpbis-alias-proxy-status: Percent encoding text is not quite right

The current text says

> Since DNS names can include comma (`,`) characters in them, any commas that appear in a DNS
names MUST be represented using a percent-encoded `%2C` value instead. 

However, domain names can also contain `"` and `%`, so I think the escaping rule has to be a bit more generic than just escaping commas, as indicated in the current text.

Wire format DNS names can contain arbitrary octets. I'd suggest allowing characters in the set `[A-Za-z0-9-_]` and %-encoding any other character. This is similar to the filtering that the glibc stub resolver performs on CNAME alias chains.

- Reference RFC 1035 section 3.1 for the fact that these can be arbitrary
- Percent encode everything that it not alphanumeric or dash
- Mention in the security considerations that if you don't do this, you could inject newlines, etc.

Actually, sf-string already prohibits things like newlines:
```
Strings are zero or more printable ASCII [[RFC0020](https://www.rfc-editor.org/rfc/rfc8941.html#RFC0020)] characters (i.e., the range %x20 to %x7E). Note that this excludes tabs, newlines, carriage returns, etc.
```