broken ABNF

FWIW, I believe this change:

Old:

  token = <token, defined in [RFC2616], Section 2.2>

New:

  token = token
            ; defined in [RFC2616], Section 2.2

is a bad idea; it makes the ABNF invalid.

(similar changes have been made to other imports)
