Remove normative text in IANA considerations

From @jricher's WGLC review:

> §9.2: Is normative text allowed in such a description here?

We probably want to trim this down to say "Section 5 of [RFC3230] defined the "contentMD5" token to be used only in Want-Digest. This token was obsoleted by [this document]"