RSA PSS interoperability issues

RSA PSS keys have two different methods of encoding due to some unfortunate verbiage in the RFC describing them that has been interpreted in diametrically opposite ways by people. It does seem to me that if a public key is encoded by one system and passed to the backend by another, there may be surprising differences that if the backend does a byte comparison of the keys could cause auth failures.

We have run into this issue (in a different context) with OpenSSL 3.0 where exporting a public key from a certificate results in its reencoding changing the value. 

I'm not sure what changes we should make to the draft to address this but I think we should say something.

Can you elaborate on what the exact issue is? I'm happy to add text to the draft to clarify which interpretation needs to be used here.

The exact issue is the one in RFC 4055 Section 2.1. There is a sentence that reads "The correct encoding is to omit the parameters field; however, when RSASSA-PSS and RSAES-OAEP were defined, it was done using the NULL parameter rather than absent parameters."

Some people read this as saying that the parameters are omitted. Others read it as saying the NULLs must be included. Some operating systems are intolerant of one or the other in some libraries.

OpenSSL 3.0 will take a key that is read in with one format and write it out with another. If the backend compares the public key in the message to what is stored with byte comparison or some overly restrictive comparison this will not work. Of course I think the right thing is do a byte comparison and note that RSA PSS is terrible.

Oh yes, the PSS embeddings in X.509 are atrocious to the point that if you told me this document was intended as a joke, I would have found it more believable than the alternative. Anything that uses X.509 encodings should just skip PSS. This encoding is not worth dealing with. BoringSSL refuses to implement those serializations for precisely this reason. We are better off starting over and defining new encodings than using RFC 4055.

With all that said, does this need to apply to unprompted auth? Unprompted auth uses the TLS SignatureScheme enum, not X.509 AlgorithmIdentifiers. The TLS enum is already sufficient to capture all details of the algorithm, so you don't need the SubjectPublicKeyInfo serialization. And indeed it looks like the draft doesn't use that serialization:
https://httpwg.org/http-extensions/draft-ietf-httpbis-unprompted-auth.html#section-3.1-6

This is good because it avoids the horror that is RFC 4055. So then what's the issue?



Oh I see, we just put in the key as though it was PKCS 1.5 and let the sigs carry the parameters?

Not even that. It's just the RSAPublicKey ASN.1 encoding that assumes you already know you're expecting an RSA key. The SubjectPublicKeyInfo business from X.509 is for when you _don't_ know from context what algorithm you're using and need to also carry the key type. But if you do know, duplicating the key type both wasteful and requires you answer dumb questions like "did I correctly handle the case when I was expecting an RSA key and got an ECDSA key".

At the end of the day, a SubjectPublicKeyInfo in X.509 is just a tuple (key type, key data). The key data is encoded in some form determined by the key type. The problem is X.509 made a mess of everything, so "key type" is extremely complex. But, in TLS, we just have a simple SignatureScheme enum. Once you've already put that enum in your protocol, you don't need to bother with SubjectPublicKeyInfo.

Ah gotcha, and then the salts and hash are as in RFC 8446. Maybe some language pointing this out explicitly would help?

The current text defines the signature algorithm by citing RFC 8446, which yeah captures everything:

> Signature Algorithm:
> The signature scheme sent in the s Parameter (see [Section 4.4](https://httpwg.org/http-extensions/draft-ietf-httpbis-unprompted-auth.html#parameter-s)).

And then this section says the encoding is determined by the signature scheme and explicitly says which encoding is used:
https://httpwg.org/http-extensions/draft-ietf-httpbis-unprompted-auth.html#section-3.1.1

So I think, with the text as it is today, any accidental use of SPKIs is just from not reading the existing text.

@davidben thanks, that makes sense to me. As an additional data point: only one of our implementations of this draft supports RSA PSS - but they didn't have any doubts when implementing it. @wbl would you be satisfied with closing this issue with no action?

Yeah, I think I just somehow didn't put together the sentences across the doc the right way in my head.