Reconsider padding

#473 flipped handling for non-zero padding; the same should be considered for == padding.

In particular, in https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html#parse-binary

> As per [RFC4648], Section 3.2, it is RECOMMENDED that parsers reject encoded data that is not properly padded, although this might not be possible in some base64 implementations.
>
> Because some implementations of base64 do not allow rejection of encoded data that has non-zero pad bits (see [RFC4648], Section 3.5), parsers SHOULD NOT fail when it is present, unless they cannot be configured to handle it.

has the same justification for two opposite SHOULDs.