Consider using TLS exported authenticators for unprompted auth

At IETF 117, @martinthomson suggested using TLS exported authenticators ([RFC9261](https://www.rfc-editor.org/rfc/rfc9261.html)) instead of reinventing a lot of it. The authors will look into whether that's feasible and how hard it would be to implement.

@martinthomson also mentioned that with exported authenticators, you can "send" the key using TLS certificate compression ([RFC 8879](https://www.rfc-editor.org/rfc/rfc8879.html)), with a new "keyid" compression scheme.

cc @jhoyla @chris-wood @dennisjackson

There would be some changes needed to RFC 9261 to support this; I think there would be no change to the innards, it was just reflecting back assumptions that we made for Secondary Certificates.  Most notably:

- Allowing spontaneous client authentication; currently only servers can create a spontaneous authenticator
- "Only the X.509 certificate type defined in [[RFC8446](https://www.rfc-editor.org/rfc/rfc9261.html#RFC8446)] is supported. Alternative certificate formats such as Raw Public Keys as described in [[RFC7250](https://www.rfc-editor.org/rfc/rfc9261.html#RFC7250)] are not supported in this version of the specification and their use in this context has not yet been analyzed."

So I read through 9261 today thinking about whether it makes sense to rewrite unprompted auth on top of it. First off, in terms of the internal workings of the cryptography, it would be theoretical possible to do that. However, there are two hurdles:

First, exported authenticators only support X.509 certificates. This was an intentional choice from the beginning to make the protocol easier to analyze (see [explanation from June 2017](https://github.com/grittygrease/tls-exported-authenticator/pull/20)). It would be possible to remove that requirement but it's unclear how much analysis would be required.

Second, exported authenticators don't allow the client to send an authenticator spontaneously. This requirement comes from the TLS extension model, where it's not possible to send a Certificate/CertificateVerify extension unless we know that the peer supports that extension, as indicated by it being present in CertificateRequest (see [explanation from November 2017](https://github.com/tlswg/tls-exported-authenticator/issues/5#issuecomment-343711189)). In order to fix this we'd need to allow sending TLS extensions unprompted, because any prior server-initiated message would defeat the probing-resistance property required in unprompted auth.

Because of these, in order for us to use Exported Authenticators we would need to start up a new 9261bis effort in the TLS WG to make the two required changes to EAs. That effort might fail due to lack of appetite in TLS - and the fact that this requires somewhat of a paradigm shift about how TLS reasons about extensions isn't going to help.

This makes me inclined to keep unprompted auth separate from exported authenticators, as reinventing this part of the wheel will be much more likely to succeed than retrofitting the preexisting differently-shaped wheel.

I agree with @DavidSchinazi's assessment. There is an obvious appeal to reusing things when possible -- and this is certainly one of those cases! -- but, beyond the procedural stuff to work through that David mentions, EAs provide more than what we actually need for the task at hand. In particular, I don't believe we need both a signature _and_ MAC. UA is a fairly standard authentication mechanism. It's [basically described in the HAC](https://cacr.uwaterloo.ca/hac/about/chap10.pdf), with some deviations, like using an exported values as nonce instead of having client/server exchange nonces over the wire), though I'm confident we can collectively reason about the resulting security of the UA design. 

Overall, I think it would be easier overall to just use what we need rather than try to repurpose something built under different assumptions for a new use cases. As a bonus, the avoiding EAs makes the TLS coupling incredibly small -- you only need the exporter interface!

I'm less convinced.

We need the security analysis anyway.  We've seen already how there are subtleties where we haven't caught enough context.  And work on EA analysis might be trivially adjusted.

We can update rather than reboot.  Or, for a narrow profile, just create an exemption.  We only need raw public keys (trivial) and no request.  RPK support can be inferred from context, without any need to modify TLS.  The note @DavidSchinazi pointed at also included the possibility of synthesizing a request, which is something we can do without permission.

So the EA analysis doesn't consider the attacks from @dennisjackson 's Seems Legit paper, which came out after the analysis was done, so an excuse to redo the EA analysis would actually be welcome. 
Currently the EA analysis just considers the extra attacks out of scope, so it's not wrong per se, but a stronger proof would be great.
From a procedural point of view I think updating EAs will be harder to accomplish, but from an analysis perspective I don't have a strong feeling that one is better than the other. Certainly with some basic messing around I couldn't create a model where just a signature was broken but a signature + HMAC wasn't (which isn't to say one doesn't exist, but it certainly wasn't immediately obvious to me what the HMAC adds.) 

There is a similar (to the Seems Legit paper) gap between the guarantees that the symmetric encryption + hashing algorithms we use in practice give us and what Tamarin models, which probably needs to be closed to capture the difference between with an HMAC and without an HMAC. 

Also I am worried that this is all moot (UpA and EAs in general) because so few TLS libraries provide any sort of sensible access to the exporter interface. I spent a bunch of cycles trying to implement this, and had to give up.

I do want to point out one very important difference between exporters and nonces though. They operate on entirely different principles and are not interchangeable. We can't assume that the design from the HAC is still valid if you replace the nonce with an exporter. 

The security of nonce comes from the initiator picking a value in a way an attacker can't predict, and seeing that value reflected back at them. This provides the _initiator_ with a proof a freshness which, per Lowe's hierarchy, is part of what you need for "strong" authentication. 

The exporter, however operates in a different way. When the initiator sends an exporter (or a commitment / proof of knowledge etc.) the _responder_ has a guarantee that the initiator was a participant in some other protocol run (in this case the underlying TLS handshake). If the responder has some external / preshared knowledge of that protocol then it can use that to reason about the security of both protocols.

So yes, they are both opaque blobs that are part of authentication, but they are completely different things and it's not really meaningful to swap them. 

|| Nonce | Exporter|
| --- | --- | --- |
| Who get's the guarantee | Initiator | Responder |
| Proof of Freshness | Yes | No |
| Proof of Identity | No | Yes |
| Can be published in advance of the protocol | No | Yes |
| Round trips | 1 | 0.5 |


> We can update rather than reboot. Or, for a narrow profile, just create an exemption. We only need raw public keys (trivial) and no request. RPK support can be inferred from context, without any need to modify TLS.

@martinthomson can you elaborate on how that would work procedurally? I don't think it makes sense to have a document in the HTTPBIS WG update a TLS WG RFC. So we'd need to start a new draft in TLS that updates 9261 to
1. allow CertificateType=RawPublicKey
2. allow spontaneous client authentication and specify
  a. what extensions are allowed in Certificate (none of them?)
  b. what SignatureSchemes are allowed in CertificateVerify (all of them?)

That would be quite a bit of work, wouldn't it?

> The note @DavidSchinazi pointed at also included the possibility of synthesizing a request, which is something we can do without permission.

The note considered that option, but RFC 9261 does not - or am I missing something?

Discussed this offline with @martinthomson and @chris-wood. The main argument in favor of keeping unprompted auth separate from exported authenticators ended up being ease of implementation and deployment: EAs are harder to implement without control of the TLS library (it's not impossible, but it's quite tricky) and require extracting the hash function in use from the TLS library and making sure that the unprompted auth code implements all possible values. Because multiple of the use-cases for unprompted auth can modify an HTTP implementation but not a TLS library, this is very desirable.

Based on that, my plan is to close this issue with no action. I'm going to ping the mailing list first to make sure no one objects.

@chris-wood 
> In particular, I don't believe we need both a signature and MAC. UA is a fairly standard authentication mechanism. It's [basically described in the HAC](https://cacr.uwaterloo.ca/hac/about/chap10.pdf), with some deviations, like using an exported values as nonce instead of having client/server exchange nonces over the wire), though I'm confident we can collectively reason about the resulting security of the UA design.

Presuming you mean "unilateral authentication with random numbers" from ISO 9798, it's completely broken, see this [paper](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/69793/eth-5576-01.pdf) for example. This analysis was carried out without the digital signature properties from Seems Legit and I think a new analysis would find even more issues.

Whilst I think @martinthomson is right that exported authenticators is the morally correct solution, I understand the procedural and implementation reasons against them. On the cryptographic side, I think the pain is pretty similar either way and this work is going to need careful analysis.  

> Presuming you mean "unilateral authentication with random numbers" from ISO 9798, it's completely broken, see this [paper](https://www.research-collection.ethz.ch/bitstream/handle/20.500.11850/69793/eth-5576-01.pdf) for example. This analysis was carried out without the digital signature properties from Seems Legit and I think a new analysis would find even more issues.

TIL! Thanks for educating me. 

One of the things that came up in discussions was how EAs and the current design differ in construction.

Both logically start from a value that is agreed between the two peers.  But how that is then used differs:

EAs export from that with no additional context.   That value is signed along with a complete transcript of the exchange.  Then a MAC is generated that includes the complete transcript, including the signature.  The signature provides proof of live access to the secret, the MAC ensures that both sides agree that they executed the same protocol.

This design exports with context that captures all the necessary parameters (or so we think).  That value is split into two parts, one is sent directly.  The other is signed.  The first value here stands in for the MAC, the second provides liveness.  Maybe.

Interesting differences here are that this new design relies on the exporter function being an effective MAC.  It's a KDF, so maybe that's OK.  The other is that the MAC does not cover the signature.

Being able to understand those difference is one way we might proceed here.  Another method would be to align the construction.

As discussed in https://github.com/httpwg/http-extensions/issues/2604#issuecomment-1756533144 , I'm closing this issue. We'll open separate issues to discuss specific findings from security analysis.