Advice for new parameters / headers

As per recent discussion, this draft should advise readers about whether or not it should be used for new headers, or new parameters on existing headers.

Straw-man:

* Change the Abstract to:

> RFC5987 defines an encoding for non-ASCII payloads in HTTP header field value parameters, based upon the encoding defined in RFC2231. This document updates that definition and describes how it should (and should not) be used.

* Change the first paragraph of Introduction to:

> By default, header field values in HTTP messages ([RFC7230]) cannot directly carry characters outside the US-ASCII coded character set ([RFC0020]). RFC 2231 ([RFC2231]) defines an encoding mechanism for use in MIME headers. This specification documents a subset of that encoding that has been used in some HTTP header fields. Its use in new header fields, or new parameters on existing header fields, is NOT RECOMMENDED.

* Remove section 4 contents (and subsections), replace with:

> The convention defined by this specification allows a parameter fields that have two possible encodings (ASCII without the `*`, UTF-8 with it). This causes considerable complication in the use and implementation of those parameters, since they now have to handle both, and all of the possible permutations and edge conditions implied by this (e.g., how a header field value with both ought to be handled).
> Furthermore, this encoding can only be used in parameter values, not in other parts of header field values.
> As a result, use of this encoding is only RECOMMENDED where already defined; new header fields, as well as new parameters on existing header fields, SHOULD NOT use it when non-ASCII content is anticipated. Instead, they SHOULD mandate a character encoding of UTF-8, combined with escaping of non-ASCII characters using a well-defined convention (e.g., percent encoding, as per [RFC3986).

* Optionally, move the existing contents of section 4 into an appendix, but clarify that they're there merely for the benefit of existing uses.

I disagree with the proposed change; in particular for header fields that already use this syntax.

We could make a recommendation for new header fields, but what you propose is yet another new format, so I just do not see the benefit over that we have right now.

Right now, do headers that use this convention define it to be used for *all* parameters, or only nominated ones? My understanding is that it's usually the latter (i.e., a case-by-case basis).

I'd argue that discouraging its use for new parameters on existing headers avoids the problem found in <https://github.com/mnot/I-D/issues/180>; indeed, that's what I plan to do there. 

I.e., having two possible encodings for the same parameter, and switching the encoding on the parameter name, is an anti-pattern, and should be discouraged. 

That being the case, the benefit is clear (at least to me, after going through that issue).

The concern is that we do not really have an alternative that we can recommend instead.

We could give an example, e.g., percent-encoding over utf-8 (which is already specified elsewhere).

A format that has a single mode *and* supports non-ASCII (over HTTP/1.1) will need an escape character (such as %). This is a new format (if we don't count the Slug header field in atompub). It also means that senders always will have to escape (so that "%" isn't ambiguous).

Yes, we can specify that somewhere, but until we do so we can't recommend something like that. At the end of the day it's not clear to me at all whether yet another format improves the situation.

Discussed on list; closing with no action.