signatures: clarify dependency on structured fields

IMHO we need to be clear what the requirements of SF support are. The way the spec currently is written (referencing RFC 8941) means that SF-shaped field values using the new sf-date format are not supported.

I don't think this is what we want, so unless we want to wait for sfbis to be ready, we'll need to add some consideration of how compat with SF extensions/revisions is supposed to work.



The intent of the current text is not to limit the use of the `sf` flag to only the currently defined formats. New formats are supported if the signer and verifier support the formats. The agreement of what format to use for a particular field is out of scope for this specification, and needs to be agreed upon by the signer and verifier outside of the signature process. This is true for all the current types and will remain true for any additional types defined in the future.

On a high level, this sounds right.

As an implementer of a signature library, calling an SF library, what is your expectation what it'll do with sf-date once the spec is published?

What if the sender want to sign an integer param in a dictionary, but the field instance contains another param using sf-date?

I would expect a library of that nature to publish its mapping between field names and SF types, and ideally allow that mapping to be edited by the caller of the library. Otherwise, how would a user of the library be able to provide a type mapping for a custom field that the library doesn't know about, let alone a new sf-type?

Understood. Different layers of libs.

What I meant is a *generic* SF library, that just parses/serializes SF fields.

Then you need to know what you're parsing it in to. SF fields aren't entirely discoverable from the syntax alone, you need to know the type explicitly. I ran into this when implementing my own signature libraries. So the signature library needs to have that mapping, and if the underlying SF library doesn't support some new type, then you can't map to it. Once the dependencies are updated, you can provide that feature up the chain. It all seems pretty standard and simple to me, honestly.

> SF fields aren't entirely discoverable from the syntax alone, you need to know the type explicitly.

How so?

I still don't see the path to interop for any update of the structured field syntax, unless this spec at least provides some hints.

You need to know the top-level type (Dictionary, List, or Item) for each field. The consequence of that (AIUI) is that a recipient wishing to validate a signature that uses `sf` will need to understand the top-level type of each `sf`'d field in the signature.

It'll also need to support the permissable types in those fields -- e.g., if a field allows Date, the recipient needs to be able to handle that.

As a result, it won't be possible to reliably verify a signature if your processor doesn't have knowledge of the top-level type, or if it doesn't have support for an extension type in use in one of those fields. However, there is a *chance* of verifying it still, if the SF-produced form is sent on the wire and not changed at all in transit, and the processor just ignores `sf` processing (and in some ways, this is worse than reliably failing).

I think this all can be reasoned out by reading the specs appropriately. Documenting it as a tripping hazard would help users avoid interoperability issues, but this specification is already long and dense, and if we also make it a user guide, it will risk becoming unusable.

So, speaking personally -- if the above summary is correct, I could see adding a sentence or two to section 2.1.1 at the most; I could also see leaving it to a separate profile/user guide.

[ chair hat on ]

This issue is the last thing holding the Signature spec going to IETF LC. @jricher @reschke please respond to above, particularly:

1. whether such text is necessary
2. whether such text will address the issue
3. when such text, if necesary, would need to be incorporated (before/after LC).

Thanks, 

I believe it would be good to have such text; and that it should be in the spec, not in a guide that is unlikely to materialize.

It should be incorporated before LC (I hope you mean a new WGLC here...?). Given the amount of changes, we really should spend some time reviewing all that changed, and to verify that the open issues have been addressed properly.

@reschke can you propose something?

I don't see any reason to rerun WGLC, based upon the current PRs; there are some changes (especially in one or two), but they're based on AD review and can be discussed during IETF LC. 

cc @fpalombini

> @reschke can you propose something?

I would prefer to see your proposal :-).

> I don't see any reason to rerun WGLC, based upon the current PRs; there are some changes (especially in one or two), but they're based on AD review and can be discussed during IETF LC.

The RFC diff since the last WG version has 143 change blocks:

https://greenbytes.de/tech/webdav/sig-diffs.html

We also currently have 17 open issues:

https://github.com/httpwg/http-extensions/labels/signatures

IMHO we need to get these closed (can be rejecting or fixing), and also have a look at those that we raised since -13 and closed in the meantime. I don't think we do the community a service by sending this to IETF LC right now.

@reschke you are grossly misrepresenting the state of the document. For one, the last WG version, and the one that went to the AD, is -15, not 13, so your diff above is misleading at best. The changes since then have largely not been substantive in nature, and all have been made publicly with the view and input of the WG.

The open issues are nearly all addressed by open PRs, which I am waiting for AD feedback before merging (I'm not sure if the AD wants to review the PR text or the merged draft that results). What remains is this issue, as @mnot pointed out above.

To answer @mnot 's question about how to resolve this: I think pointing out as a potential tripping hazard is not necessary but would not be harmful. The precondition to know the type is already in the text as the first sentence about the `sf` flag in section 2.1.1:

> If the value of an HTTP field is **known by the application to be a structured field** ([[STRUCTURED-FIELDS](https://www.ietf.org/archive/id/draft-ietf-httpbis-message-signatures-15.html#STRUCTURED-FIELDS)]), and **the expected type of the structured field is known**

Additionally, the lack of knowledge of the type of the field is already called out explicitly as a required error condition in section 2.5:

> implementation MUST produce an error [... if:... ]The component identifier indicates that a structured field serialization is used (via the sf parameter), but the field in question is known to not be a structured field **or the type of structured field is not known** to the implementation.

I would propose we simply add a note to 2.1.1 of the form:

> If the application does not know the type of the field, use of this flag will produce an error.

> The open issues are nearly all addressed by open PRs, which I am waiting for AD feedback before merging (I'm not sure if the AD wants to review the PR text or the merged draft that results). What remains is this issue, as @mnot pointed out above.

Well, it's hard to say what remains to be done until an issue is actually closed. We're all volunteers here, so it's good to make things as easy as possible to reviewers. 

So, trying to rephrase: let's get all open issues closed (one way or the other), and let the people who raised the issues give an opportunity to provide feedback before sending this back to the IESG.

(I, for once, am not convinced that I agree with the proposed solutions, but due to the type of diffs (long lines) it's a bit tricky to understand what actually changed)

2.1.1 works for the sending side; but what is a recipient supposed to do when the sf flag is present and the field value does not parse due to sender and receiver disagreeing about the SF version?

Also, that only affects the *toplevel* type of the structured field. It does not address the case where an extension parameter is added is an sf-date (or any future new type).


@reschke until you propose text, it will be hard to say what kind of text you think would close this issue.

So, we have in 2.1.1:

> If this parameter is included with a component identifier, the HTTP field value MUST be serialized using the rules specified in [Section 4](https://rfc-editor.org/rfc/rfc8941#section-4) of [[STRUCTURED-FIELDS](https://httpwg.org/http-extensions/draft-ietf-httpbis-message-signatures.html#STRUCTURED-FIELDS)] applicable to the type of the HTTP field.

This implies that the "sf" parameter can only be used on fields that conform to RFC 8941, no extensions allowed.

I would suggest clarifying that, at the end of 2.1.1, with:

"Note that the normative requirement to use the SF serialization algorithm precludes any use of future extensions of the structured field syntax. Support for future versions of SF will require an update to this specification."

I *believe* this matches what @mnot suggested.





Except that *your proposed text is incorrect*. The implication you are drawing is not true, nor what others have taken from that text. The use of the `sf` parameter does not preclude extensions to RFC 8941, as has been discussed at length here and on the mailing list. Extensions to sf types would not require changes to the signatures spec.

I propose closing this issue without change to the signatures spec.

Sorry. Mark asked me to propose text, and that's what I did.

The text has a normative requirement to use an RFC8941 serializer, so the proposed text is correct. That we disagree here is *proof* that a clarification is needed.

If you feel that that p.o.v. is too restrictive, we'll have to somehow relax the requirement on the serializer.


No, we reference the current document and if that document is updated or obsoleted by something else after publication then you as an implementer go and follow that. That's how updating RFC's already work. All the specs and systems that implemented RFC2616 didn't suddenly break and become invalid when 7230 or later 9110 came out. It's up to the updaters of 8941 to make sure there's A serialization section. 

Your view of specification dependency is not at all in line with reality. 

I see where you're coming from; I'd appreciate if you would do the effort to understand where I'm coming from.

The difference here is that any spec that extends 8941 with new types by definition is *not* backwards compatible. This is because 8941 has no extension points, has drastic error handling and thus requires a wholesale spec update for new things. This is very different from most other RFCs that we're using here.

If there is agreement about what we want, why don't we just say it?

To illustrate further: RFC8941-vs-8941bis is like XML1.0-vs-1.1 or HTTP1.1-vs-2.0, not like RFC2616-vs-RFC9112.

> The difference here is that any spec that extends 8941 with new types by definition is not backwards compatible. This is because 8941 has no extension points, has drastic error handling and thus requires a wholesale spec update for new things. This is very different from most other RFCs that we're using here.

That's a very specific definition of 'not backwards compatible' and one that I suspect many would be surprised by. Just because there are no explicitly nominated extension points doesn't mean you can't evolve the specification in a backwards-compatible fashion; the key requirement is that valid inputs per the 'old' version are also valid inputs per the 'new' revision. That is the case for sf-bis.

It is true that an *invalid* input for RFC 8941 will now become valid; specifically, a type value beginning with '@' used to generate an error, and now will not (provided that the following characters are appropriate).

The reasonable question to ask at this point is whether it's realistic / probable that an application will be depending upon that error being thrown to operate. Can you suggest when that might be the case? Because I find it doubtful in the extreme that this will cause real-world problems.


I agree that this wouldn't cause real-world problems. I just also wish that our specs actually say what we think should happen, instead of requiring people to figure out.

So in this case, I think we can solve this by saying "RFC 8941 or a revision obsoleting it".

Since @reschke acknowledges that this doesnt affect interoperability and this is merely a "wish", @jricher why don't you go ahead and incorporate your proposal so we can ship this spec?

@mnot - please don't claim what I said something I did not say.

My position remains: the spec should be clear about what it expects implementers to do. Right now it is not.

If the agreement is "use RFC 8941 or a future revision", *why* don't we say that?

Proposed change: https://github.com/httpwg/http-extensions/pull/2401