Missing parens

Document needs parens around `{{?RFC1035, Section 3.1}}` and `{{!RFC3986, Section 2.3}}`.

Nice catch!