no-vary: mention Cache-Control

@reschke said:
> Speaking of which, RFC 9111 states in
> <https://greenbytes.de/tech/specs/rfc9111.html#rfc.section.4.p.3>:
> 
>  > Note that a cache extension can override any of the requirements
> listed; see Section 5.2.3.
> 
> which is about Cache-Control.
> 
> Was it ever considered to use Cache-Control here? (yes, I understand the
> parsing issues) ... in any case, a short statement why not might be good.
> 
> Also: maybe make it clear upfront that the spec really defines a "Cache
> Extension", as described in Section 4 of RFC 9111 (and use that in
> Section 7, which brought me here...)
> 
> (let me know if I should suggest text)

(See https://lists.w3.org/Archives/Public/ietf-http-wg/2025OctDec/0051.html)

@reschke, if you have some text you'd like to propose here to briefly outline the issues with Cache-Control, that would be super helpful!

@reschke Friendly ping :)

I'm generally against such sections in RFCs -- it's difficult to predict what to include in them, and they can be a distraction to readers (especially as they grow). Better to put in an e-mail to list or wiki page, if necessary IMO.

https://github.com/httpwg/http-extensions/pull/3383 addresses the trivial part of this issue.

> I'm generally against such sections in RFCs -- it's difficult to predict what to include in them, and they can be a distraction to readers (especially as they grow). Better to put in an e-mail to list or wiki page, if necessary IMO.

Not convinced.

But yes, it would be good to have this written down somewhere; an email to the HTTP WG mailing list would be sufficient, as that is archived.

Some reasons for this choice have been documented in https://lists.w3.org/Archives/Public/ietf-http-wg/2026JanMar/0024.html and https://lists.w3.org/Archives/Public/ietf-http-wg/2026JanMar/0074.html, closing.