Fix downrefs in signatures document

As I was working on the shepherd writeup for the Message Signatures document, I came across the following nits.

I believe all of the references should just be made informative to avoid downrefs.

-- Possible downref: Non-RFC (?) normative reference: ref. 'FIPS186-4'

  -- Possible downref: Non-RFC (?) normative reference: ref. 'HTMLURL'

  ** Downref: Normative reference to an Informational RFC: [RFC 2104](https://datatracker.ietf.org/doc/rfc2104/)

  ** Downref: Normative reference to an Informational RFC: [RFC 6234](https://datatracker.ietf.org/doc/rfc6234/)

  ** Downref: Normative reference to an Informational RFC: [RFC 8017](https://datatracker.ietf.org/doc/rfc8017/)

  ** Downref: Normative reference to an Informational RFC: [RFC 8032](https://datatracker.ietf.org/doc/rfc8032/)

  ** Downref: Normative reference to an Informational RFC: [RFC 8792](https://datatracker.ietf.org/doc/rfc8792/)

@jricher could you take care of this and then rev the document?

So most of these references are the cryptographic algorithms, and I'm not sure what it would mean to make those informative references here, since we do want the process to exactly match what's in the mentioned specification (RSA PSS, SHA, etc). We're also referencing terms and functions defined in these specifications. Something similar for the HTMLURL spec from WHATWG. If these are really appropriate to be informative I can move them over, but if not how should we handle these nits? Other specifications like rfc8152 (COSE) and rfc7518 (JSON Web Algorithms, part of JOSE) have many of these in as normative references.

@mnot what do you think?

I'd like to introduce you to the poorly-documented but ever-so-useful [downref registry](https://datatracker.ietf.org/doc/downref/). If a ref is in there, you can use it.

By my reckoning, that means these are OK (i.e., Tommy, you just need to note that they're in the downref registry when you do the writeup):

* Downref: Normative reference to an Informational RFC: RFC 2104 
* Downref: Normative reference to an Informational RFC: RFC 6234
* Downref: Normative reference to an Informational RFC: RFC 8017
* Downref: Normative reference to an Informational RFC: RFC 8032

... whereas these will need to be approved (i.e., note that they're downrefs in the writeup):

* Possible downref: Non-RFC (?) normative reference: ref. 'FIPS186-4'
* Possible downref: Non-RFC (?) normative reference: ref. 'HTMLURL'
* Downref: Normative reference to an Informational RFC: RFC 8792

For the FIPS reference, what do previous RFCs do? I suspect there may be another document that they reference instead.

For URL -- this is a legitimate reference (that syntax isn't defined anywhere else). Ask for the downref.

I'd wager that 8792 isn't normative; you don't need it to implement the spec, you only need it to interpret the examples. If not, it shouldn't be a drama to get it approved.


FIPS186-4 is normatively referenced from RFC 8292, so it should already be in the downref registry.  Ask for it to be added post-hoc.

I agree that 8792 can be informative, it's just a formatting tool -- I'll update that. Everything else makes sense to stay normative and be registered. Thanks all.

Great, let's make 8792 informative, and I'll note that the rest are intentional!