Post-handshake authentication with multiple client certificates

TLS 1.3 post-handshake authentication enables the use of multiple client authentications.

The draft probably needs to address this.

Firstly, the proxy could be smart enough to know which certificate applies.  After all, it needs to know how and when to ask for a certificate.  If it is that smart, we don't have a problem.  If not, then...

For `client-cert`, this is easy.  If there are multiple certificates and the reverse proxy doesn't know which to include, it can include all of them.  It's easy enough to add extra values.

For `client-cert-chain` this is less easy.  There would be no way to distinguish which intermediate related to which end-entity certificate if you just added them all.  I don't think that's fatal though.  Chain building for validation always has to deal with certificates that don't do anything, so maybe we can just dump them all in there and let the back-end server sort them out.

In terms of actions, we can say something like:

> With post-handshake client authentication in TLS there might be multiple certificates and certificate chains from the client.  Multiple end-entity certificates can be added as multiple values in or instances of the `Client-Cert` field.  These SHOULD be added in the order in which the client provided them, with the most recent first.  Each end-entity certificate might include a list of intermediate certificates.  These lists can be concatenated and added to the `Client-Cert-Chain` field. As the resulting list does not identify which intermediate relates to which end-entity certificate, the origin server needs to be able to use the information in the certificates to match them.

The draft currently [defines Client-Cert as a sf-binary Item Structured Header](https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#section-2.2), which precludes multiple values/instances. I am very reluctant to change that in support of something that rarely if ever happens in practice (it would mean HTTP/1.1  with multiple TLS 1.3 post-handshake authentications or post-handshake authentication(s) after a client cert authenticated handshake).

Could we instead just say the first/last one is used? Then it's predictable/defined should it ever happen. Or declare it out of scope. 

Existing related text from https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#section-1.2 is copied here:

>HTTP/2 restricts TLS 1.2 renegotiation ([Section 9.2.1](https://rfc-editor.org/rfc/rfc7540#section-9.2.1) of [[RFC7540](https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#RFC7540)]) and prohibits TLS 1.3 post-handshake authentication [[RFC8740](https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#RFC8740)]. However, they are sometimes used to implement reactive client certificate authentication in HTTP/1.1 [[RFC7230](https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#RFC7230)[](https://www.ietf.org/archive/id/draft-ietf-httpbis-client-cert-field-01.html#section-2)] where the server decides whether to request a client certificate based on the HTTP request. HTTP application data sent on such a connection after receipt and verification of the client certificate is also mutually-authenticated and thus suitable for the mechanisms described in this document. 






I could live with picking the last in the absence of information that might allow for another to be selected.

But what harm is there in using a list?

> But what harm is there in using a list?

Makes it all more complicated b/c everything then needs to treat it as a list and reason about it being a list. The value in typing something as what it is seems self-evident so I'm at a bit of a lose as to how else to answer that question. 


WFM.