Standardize node identifiers (Cache, Proxy-Status).

We should standardize on the format and naming of node identifiers, since right now they are in different format in each draft.

From [draft-ietf-httpbis-cache-header](https://tools.ietf.org/html/draft-ietf-httpbis-cache-header):
```
o  "node" - a string identifying for the cache node.  MAY be a
   hostname, IP address, or alias.
```

From [draft-ietf-httpbis-proxy-status](https://httpwg.org/http-extensions/draft-ietf-httpbis-proxy-status.html):
```
* proxy - a sh-token identifying the HTTP intermediary generating this response.
```

From [RFC7239 (Forwarded HTTP Extension)](https://tools.ietf.org/html/rfc7239):
```
o  "by" identifies the user-agent facing interface of the proxy.
```
```
The node identifier is one of the following:

o  The client's IP address, with an optional port number

o  A token indicating that the IP address of the client is not known
   to the proxy server

o  A generated token, allowing for tracing and debugging, while
   allowing the internal structure or sensitive information to be
   hidden

The node identifier is defined by the ABNF syntax as:

    node     = nodename [ ":" node-port ]
    nodename = IPv4address / "[" IPv6address "]" /
                "unknown" / obfnode

    IPv4address = <Defined in [RFC3986], Section 3.2.2>
    IPv6address = <Defined in [RFC3986], Section 3.2.2>
    obfnode = "_" 1*( ALPHA / DIGIT / "." / "_" / "-")

    node-port     = port / obfport
    port          = 1*5DIGIT
    obfport       = "_" 1*(ALPHA / DIGIT / "." / "_" / "-")

    DIGIT = <Defined in [RFC5234], Section 3.4>
    ALPHA = <Defined in [RFC5234], Section B.1>
```

cc @mnot

My .02 - For CDNs, at least, this is much closer to a HTTP product token than a hostname or IP address. Also, I think the 7239 format is too exacting to get wide adoption; some people are just going to want to stick an alias in there with out the leading and trailing underscores. 

That said, I'm fine with aligning the definitions in the two documents and adding guidance, although we still may want to give them different terms, since a cache can occur in servers, clients and proxies, whereas a proxy is just a proxy.

Agreed that 7239 might not be the best choice. I don't have strong preference between formats suggested in `Cache` and `Proxy-Status` drafts, I just want them to be consistent.

> That said, I'm fine with aligning the definitions in the two documents and adding guidance, although we still may want to give them different terms, since a cache can occur in servers, clients and proxies, whereas a proxy is just a proxy.

Could we use `node` for all those cases?

PTAL; if that doesn't seem right please reopen.