Digest: unused references

- [x] Warning: no \<xref> in \<rfc> targets \<reference anchor='RFC7233'>
- [x] Warning: no \<xref> in \<rfc> targets \<reference anchor='FIPS180-4'>
- [x] Warning: no \<xref> in \<rfc> targets \<reference anchor='RFC2818'>
- [x] Warning: no \<xref> in \<rfc> targets \<reference anchor='RFC5788'>
- [x] Warning: no \<xref> in \<rfc> targets \<reference anchor='RFC6962'>


Fixed in #833 