What prohibits a legacy header and structured header of the same name in a single request

If I understand @mnot correctly Structured Headers effectively patches the HTTP protocol. What forbids a request from containing two headers with the same name with different value types?

Yes, but as I said, a header has to "opt into" SH. In HTTP as it stands, there isn't typing on-the-wire, so the parser will take the *whole* value and attempt to parse it; it will either succeed (because the other, manually-inserted value can be parsed), or fail (because it can't).

This comment is about the data model since APIs (unless this is carefully considered) might well allow a mixture. So I think you have to actually call this out somehow. (And APIs don't care about whether headers have opted in or not, they don't know and shouldn't.)

OK, so let's talk about a hypothetical HTTP API that wants to incorporate SH. Mixing different types of headers in one message is definitely on the table for the foreseeable future.

Our API currently exposes a `message` object that has a  `headers` member. `headers` currently has `getHeader` and `setHeader` to manipulate header fields by name.

To incorporate SH, our API needs to add some new methods to `headers`; let's say `getDict`, `getList` and `getItem`, along with the corresponding `set*` functions. 

Each one is passed a field name; the `set*` ones are also passed a value to set.

In this design, the API itself does *not* need to know the difference between them; it's up to the caller to decide when it's appropriate to call a given function. They can *always* call the "normal" functions (`getHeader` and `setHeader`) if they want to work with the strings, but if a header is defined as a SH, they'll be wanting to call the other ones.

I _think_ you're asking what happens when an API has some append semantics; e.g., `addHeader`. A pathological user might call `setDict` and then `addHeader`, and I agree that there are some choices to be made here. The sane thing to do, I think, would be to specify that `setDict` blows away any existing value.

Is that what you're talking about, or is it something else?

At an API-level the problem is with appending, indeed.

At a model level, there's nothing that patches https://httpwg.org/http-core/draft-ietf-httpbis-semantics-latest.html#message.abstraction really to say that for a given name, there's either a structured header value or a normal value, but you cannot have multiple fields with either. It seems that kind of contraint should be written down somewhere and not be left for particular protocol representations to sort out.

Well, even if we try to forbid it, it can happen on the wire. The recipient side needs to reliably handle that case... (where "reliably" can mean to fail parsing).

On the wire is unclear as there is no wire representation, right?

Can you elaborate? Senders can sent two instances of a header field, one using SH syntax, one using something else. 



I see, you're talking about representing the value using the normal syntax. That's not really a problem as in that case the fact that it's typed is lost too.

> ...there's either a structured header value or a normal value, ...

What is normal? Every current header essentially has its own data model. What this spec allows is for newly minted headers to share an underlying model.

You still have to know the specific header to know whether you can parse it using SH or not. 

I'm talking about arbitrary headers applications can (and do) mint.

Then the recipient either knows to parse it as SH or not.

The "or not" part is easy, I guess you just want to give people a hook to let them feed things through the SH parsing machine.  At which point things like auto-concatenation can come into effect, depending on how you define your API.

Not sure how it's a spec issue, though.

As an extreme example, can you have an SH Set-Cookie and a non-SH Set-Cookie in a single response? What allows/prohibits that? (I hope you're not expecting end points to validate all known headers in existence...)

(Or in broader terms, what's the data model for requests/responses, and in particular their headers.)



> As an extreme example, can you have an SH Set-Cookie and a non-SH Set-Cookie in a single response?

That doesn't make sense; Set-Cookie is not an SH header. If someone sends a message with a header field value that isn't valid for that header, then its not valid for that header. I could write a netcat script that says `Set-Cookie: lol$#nerd"` What do you do about that? 

And no, the recipient doesn't have to validate every header in existence, just the ones it acts on.

> (Or in broader terms, what's the data model for requests/responses, and in particular their headers.) 

That's a long way from where we are now. All this spec is doing is making it easier for new headers to be DRY. 

@phluid61 it so happens that `fetch()` doesn't expose `Set-Cookie` headers, but if you did `Cache-Control: lol#nerd"` it'd expose that as-is and let the application decide how to handle it. So I'm not sure how validity is relevant here.

Are you talking about [the fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)?  I don't think it should be affected by SH at all.  None of the headers that it intrinsically understands are SH headers, and it already treats every other header as a byte sequence, regardless of any underlying data structures.  (`response.headers.get('Date')` doesn't return a Date object.)  That still works.

A different point of view is that SH headers are arbitrary headers with typed values and it would make a lot of sense for JavaScript to be able to set typed values that make it all the way to the server, provided the connection supports them as well.

I'm not sure what you mean by "arbitrary headers". Every header is by its definition SH or not – that is arbitrary on the part of the person who specified it\*; and a header that is defined as SH can be arbitrarily treated as an opaque byte sequence; but a header that is not defined as SH cannot be arbitrarily given SH structure or semantics or anything.

\* note: "specified" here doesn't have to mean they wrote a spec; it equally applies to me making up `X-Debug-MK` on the fly.

So: if you want your API to be able to maintain SH data types all the way through, using JS types as a close analogue, then you either have to know which headers are by their definition able to be represented as such, or punt that entirely to someone who is willing to take on the responsibility (i.e. the application).

The former doesn't work. The latter means you have to provide extra knobs and buttons in your API; but that's up to your API, not this spec.

> Again though, there's nothing in the model that forces a consistent choice to be made for a single header name

Because the choice is made in the header's definition/specification.  It doesn't make sense to even discuss it in the model.

> and the data model is such that at least for one header name there can be duplicates (Set-Cookie).

No, there can't, unless you introduce it.  If your API knows about 'Set-Cookie' it knows it's not SH, so it forbids SH-flavoured accesses.  If it doesn't know about 'Set-Cookie' then it creates – and is responsible for managing – the risk of letting users do The Wrong Thing:tm:.  You can't abdicate that responsibility; you chose to take it on by building your API that way.

Here's a thought experiment: Date and Expires share an underlying data model and a serialisation.  Let's say you decide to add support to carry JS `Date` objects end-to-end, using the [HTTP-date format](https://tools.ietf.org/html/rfc7231#section-7.1.1.2) on the wire.  That's a perfectly reasonable choice for you to make, and not much different from adding SH primitives.

Now in this thought experiment I write this code:

```js
headers.append('X-MK-Timestamp', 'Wed, 21 Oct 2015 07:28:00 GMT');
headers.append('X-MK-Timestamp', new Date());
```

How would you resolve that?

> At least I don't see this spelled out anywhere in sufficient detail.

I might be wrong, but I'm pretty sure HTTP specs have always intentionally avoided specifying APIs.

from [section 2](https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html#specify):

> Likewise, header field definitions can only use Structured Headers for the entire header field value, not a portion thereof.

@mnot thanks, though that still does not capture `Set-Cookie` I think, which afaict is a special case to the data model as while all other headers have a single combined value, for `Set-Cookie` there's one combined value per declaration.

Right, so you could still end up with a `Set-Cookie` header containing a structured value and one that does not, if the API only knows about the `Set-Cookie` data model exception and not how to validate its value. Or more abstractly, there's nothing in the data model that outlaws that. 

SH says how to combine header fields with the same name (it matches the list restriction in 7230, 3.2.2), and that SH can only be used for the entire field value or none of it. So anything that can't be combined that way can't be SH.

If you know enough about`set-cookie` that you know you can't combine fields that way (or at all), that already tells you that you can't use SH for `set-cookie`.

So too for any arbitrary header field. If it uses SH, it has to use it everywhere. Whether you do that by flagging a field name on first access and restricting it to a certain access mode from then on, or parsing byte sequence values when modes mix, or ignoring the issue altogether, or whatever, that's up to you.

I don't think your assertion about `Set-Cookie` follows, but I'll bow out at this point as well.

> but I'll bow out at this point as well.

Don't be like that. I'm not trying to be obtuse, I'm trying to understand what you want the spec to say.

It currently says nothing about multiple 'instances' of the same header field.  I believe that's because [RFC 7230, Section 3.2.2](https://httpwg.org/specs/rfc7230.html#rfc.section.3.2.2) says:

> A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).

It's a normative reference, so it applies to SH.  It means that you can generate multiple instances of a SH header field as long as the value is a sh-list or sh-dictionary.

set-cookie is the one known exception called out in RFC 7230 which has can appear multiple times but can't be combined.  It explicitly calls out that "it cannot be combined into a single field-value," so it violates [this from SH](https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html#rfc.section.4.2):

> When generating input_bytes, parsers MUST combine all instances of the target header field into one comma-separated field-value, as per [RFC7230], Section 3.2.2; this assures that the header is processed correctly.

So set-cookie can not be SH.  If an endpoint knows enough about set-cookie to know that it can't get automatically combined, it by default also knows that set-cookie isn't SH.

What would you like it to say further than that?