normative reference to "key" spec

The reference to draft-ietf-httpbis-key-01 is currently marked "normative, yet:

"FYI - I've marked the status of the Key draft as "Parked."

As discussed in B-A, while we have a few small issues on this draft, we really need implementation experience and feedback to validate the design.

If you are implementing Key or plan to, please do bring your thoughts to the WG." -- <https://lists.w3.org/Archives/Public/ietf-http-wg/2016AprJun/0295.html>

If the reference stays normative, this spec will be hold up until the key spec is ready, too.


Good question. The most relevant text in CH is:

> When doing so, and if the resource is cacheable, the server MUST also emit a Vary response header field (Section 7.1.4 of [RFC7231]), and optionally Key ([I-D.ietf-httpbis-key]), to indicate which hints can affect the selected response and whether the selected response is appropriate for a later request.

Later:

> Client Hints MAY be combined with Key ([I-D.ietf-httpbis-key]) to enable fine-grained control of the cache key for improved cache efficiency. For example, the server can return the following set of instructions

This feels more like informative than normative.

Right, I'd argue the text _is_ informative.. It's easy enough for me to change the reference to be marked as such. Is that sufficient?