Impact of Combining headers

Kari points out [on list](https://www.w3.org/mid/20180305184510.66F8B4792D@welho-filter2.welho.com):

3. [Parsing Text into Structured Headers](https://tools.ietf.org/html/draft-ietf-httpbis-header-structure-04#section-3)

~~~
Given an ASCII string input_string that represents the chosen
header's field-value, return the parsed header value.  When
generating input_string, parsers MUST combine all instances of the
target header field into one comma-separated field-value, as per
[RFC7230], Section 3.2.2; this assures that the header is processed
correctly.

Note that in the case of lists, parameterised lists and dictionaries,
this has the effect of coalescing all of the values for that field.
However, for singular items, parsing will fail if more than instance
of that header field is present.
~~~

I think that this is not true for a String, if header field is mailformed
enough.

Consider following

~~~
Foo: "xxss
Foo: xxxx"
~~~

This gives

> Foo: "xxss,xxxx"

This passes

[4.7.1.  Parsing a String from Text](https://tools.ietf.org/html/draft-ietf-httpbis-header-structure-04#section-4.7.1)

[4.7.  Strings](https://tools.ietf.org/html/draft-ietf-httpbis-header-structure-04#section-4.7)

~~~
 string    = DQUOTE 0*1024(char) DQUOTE
 char      = unescaped / escape ( DQUOTE / "\" )
 unescaped = %x20-21 / %x23-5B / %x5D-7E
 escape    = "\"
~~~

Comma is allowed here as unescaped.

Other singular items does not allow comma, so combining causes parse error.

I think the right answer here is to adjust the text to say that splitting structures across headers can lead to unpredictable/unfortunate results.

The other approach would be to require commas to be escaped in strings.

It would be really nice if we defined an operation that basically gets the value of a particular header for an entire header list.

And then once and for all defined what happens with duplicates, relative order, etc.

To clarify, having syntax for header values is great, but if we don't deal with multiple headers, we'll continue to have a large set of problems we have with the current setup. Do you use the first or last? Do you combine and then parse? Do you parse independently and then use the resulting values? Do you error on multiple headers? By ignoring it or treating it as a network error?

(I've seen most of these trying to figure out how existing headers are implemented.)

Anne, I think we've got that covered. The question here is whether a string split over multiple headers should be silently handled (including the comma, I suppose), or reliably raise an error.

Thanks (I'm assuming it's covered somewhere that "field value" is obtained after stripping whitespace).

Since intermediaries can combine, you cannot really disallow it, can you?

I think that's why some folks defining headers try to outlaw the comma I think; so they can detect header injection.

The easiest way to make it reliably raise an error would be to require commas to be escaped in strings. Would that be offensive?

Kari points out that wouldn't help (as the commas could be escaped by a dangling `\` at the end of the first header instance).

I don't think we can reliably fail, given that in some implementations, multiple instances of a header field are folded before they get to the parser.

I think reliably not failing is fine. If you don't want header injection you need to disallow commas.

Makes sense - we can mention that in Security Considerations.