allow origin frame to expand not just contract set of origins

we debated this a bit in BA - but didn't come to a resolution that I recall. opening an issue

"   When received by a client, it can be used to inform HTTP/2 connection
   coalescing (see [RFC7540], Section 9.1.1), but does not relax the
   requirement there that the server is authoritative. "

essentially this means you can't advertise an origin that the client wouldn't have known to ask you for - doing so is obviously very powerful (in both good and scary ways).

I think we want to allow it assuming the "valid certificate for the origin" logic is met. i.e. formally separate insecure routing from secure certificates. This dovetails with mike's secondary cert draft.


Today there are two layers of controls protecting against hijacking an HTTPS site:  the need to get a valid cert and the need to get users for an origin to go to a server presenting that cert (ie, either through DNS hijacking or man-in-the-middle).  Both expanding via the origin frame and secondary certs eliminate that second level of defense-in-defense.  While this may not matter as much for nation-state attacks or "coffee-shop", it does add a new vector to make phishing and ad-malware injection attacks much more powerful (when combined with cert compromise).
