consider hsts

section 4.3.2

> HTTP-specific features such as cookies [RFC6265], authentication [RFC7235], caching [RFC7234], and CORS [FETCH] might or might not work correctly, depending on how they are defined and implemented. Generally, they are designed and implemented with an assumption that the URL will always be “http” or “https”.

likely worth working HSTS into that list.. we've seen it fail to provide its security benefit when mixed on hosts that provide ftp resources
