Server Auth - required or not?

Second para of 3. Server Authentication starts:

> When connecting to an alternative service for an "http" URI, clients are required to perform the server authentication procedure descriptor in Section 3.1 of [RFC2818].

Is this merely a missing "not"? If that isn't the case, this is a design issue...
