Consider refining scope to the origin

[WebAuthn](https://www.w3.org/TR/webauthn-2/#sctn-authenticator-data) signatures are computed in a way that binds them to the origin which accepts the authenticator. While it's true that the nonce is a per-session concept, and the session is bound to a specific origin (by virtue of the TLS SNI), it seems possible for bugs to be introduced in settings where a TLS-terminating server supports more than one origin. Maybe the server accidentally sends an authenticator computed in a session for one origin to another, or something. I would follow in WebAuthn's footsteps here and sign something that's specific to the origin.

Discussed at IETF 116, it seemed like the proposal most likely to succeed was to add the [realm](https://www.rfc-editor.org/rfc/rfc9110#section-11.5) to the context

Regarding the question on [presentation at IETF 116](https://github.com/httpwg/wg-materials/blob/gh-pages/ietf116/unprompted-auth.pdf), asking if origin and also URL should be part of the context.

[RFC 9110 section 11.5](https://www.rfc-editor.org/rfc/rfc9110.html#name-establishing-a-protection-s) says, quote "unless specifically allowed by the authentication scheme, a single protection space cannot extend outside the scope of its server."

So as @ilaril points out, we should include the origin.

[Section 17.16.3](https://www.rfc-editor.org/rfc/rfc9110.html#name-protection-spaces) discusses the danger of using the same context for different URLs belonging to the same origin, pointing out that it is an problem that already exists and explaining the mitigations (such as not forwarding the Authorization header to the application running on top of HTTP). Assuming that we would switch to using the Authorization header, I think we can rely on that.

To paraphrase, there is no need to include URL in the context.

In addition, we can<sup>1</sup> include "realm" in the Context, so that there can be multiple "protection spaces" inside one origin. In the Unprompted Authentication scheme, there is no way for a server to signal the realm to be used. Therefore, as @martinthomson pointed out, there has to be a default value that would be defined by the specification. Clients and servers can agree out-of-band to use a different value.

1: During the meeting, I asked as a pure question how Realm is to be used. In the follow-on discussion at least assumed that "realm" has to be part of the Unprompted Authentication as it is to use the Authorization header. However, reading RFC 9110 I realize that not all authentication schemes are required to support realms (i.e., having multiple protection spaces within an origin). Hence the "can."

OK wrote up #2572 to address this