[SH] inline encoding metadata in Byte Sequence?

String currently says:

> When it is necessary for a field value to convey non-ASCII string content, a byte sequence SHOULD be specified, along with a character encoding (preferably UTF-8).

It could be useful to allow us to explicitly say, inline, whether or not a byte sequence encodes utf-8 data.  I'm thinking something like:

    sh-binary = "*" [ bin-charset ] *(base64) "*"
    bin-charset = "$" [ charset ] "$"

And copy-paste the relevant bits from [RFC 7231, section 3.1.1.2](https://tools.ietf.org/html/rfc7231#section-3.1.1.2).

e.g.

```
*$us-ascii$SW4gQS5ELjIxMDEgd2FyIHdhcyBiZWdpbm5pbmc=*
*$UTF-8$RXN0LWNlIHF1ZSB0dSBwYXJsZXMgZnJhbsOnYWlzPw==*
*$$U1hNZ2RFaHBVeUJDYVU1aFVua2dSR0ZVWVQ4PQ==*
*WW91J2xsIGhhdmUgdG8gZ3Vlc3M=*
```

Is it worthwhile?

This seems too much like RFC5987 encoding, which didn't work out so well. Header fields defining binary content can specify an encoding for their payload statically; making this flexible *and* visible to software that doesn't understand the header field semantics doesn't add much (any?) value.