Non-canonical base64

http://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html#binary says to 
> Let binary_content be the result of Base 64 Decoding [RFC4648] b64_content, synthesising padding if necessary.

However, https://tools.ietf.org/html/rfc4648#section-3.5 says
> decoders MAY chose to reject an encoding if the pad bits have not been set to zero.

Structured headers should specify whether to reject these encodings. For example, do both `iZ` and `iQ` decode to 0x89 or is `iZ` an error?

Belatedly, I'd propose matching https://infra.spec.whatwg.org/#forgiving-base64-decode, which ignores pad bits and explicitly says that having 1 base64 character left over is an error.

I don't see why we need to leave IETF land here. Just specify something that is well-defined and based on RFC 4648.

Yeah, matching the WHATWG spec doesn't mean we have to reference it. Just copy its behavior so web developers have only 1 thing to learn.

I don't particularly want to specify the algorithm for decoding base64 in detail here, since that's the purview of RFC4648 (and whatever follows it). I think we can address this by saying something like:

> Decoders MUST NOT reject base64 encoded data if pad bits have not been set to zero; see [RFC4648], Section 3.5. Therefore, both "YQ" and "YR" decode to "a" (for example).

Does that work?

Why would we want to be forgiving?  That's an end state you reach when [your ecosystem has rotted](https://martinthomson.github.io/postel-was-wrong/draft-thomson-postel-was-wrong.html).

It's worth noting that the rest of structured headers is currently pretty draconian, so as to prevent such rot. Not sure that having one thing to learn is worth the tradeoff -- especially when the vast majority will be using tools that *should* get this right.

My main goal is to define *something*, so being strict is fine with me.

See how that works - happy to reopen.

Reopening, as a spot check of Python and NodeJS lead me to believe that it's common to be forgiving here in the language-provided base64 implementations. While someone *could* write a strict implementation (e.g., in a browser), it's going to be an uphill battle to require it with so many defaulting to not enforce this.

Re-reopening, as implementation feedback and a quick look through common b64 libraries suggests that it's hard to get many of them to produce an error upon non-zero pad bits, and AFAICT all of them can be configured to allow non-zero pad bits. 

This suggests that for interop, it's best to require that non-zero pad bits be allowed.