6265bis: what is tolerance to multiple cookies?

RFC 6265 had a requirement that a client MUST generate a single cookie header. HTTP/2 and HTTP/3 allow "cookie crumbling" that permits multiple Cookie headers. 6265bis says in https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#section-4.2: 

> Servers MUST be tolerant of multiple cookie headers. For example, an HTTP/2 [[RFC9113](https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#RFC9113)] or HTTP/3 [[RFC9114](https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#RFC9114)] connection might split a cookie header to improve compression.

What is tolerance really? Why are we stating MUST requirement that are immediately invalidated by two of the versions of HTTP in wide usage? Section 5 is huge, what requirement is the text in section 4.2 forward referencing to?

I think there's some room for improvement in this area. An HTTP/2 or HTTP/3 is being instructed as a MUST requirement in the relevant RFCs to combine multiple cookie headers into one e.g. https://www.rfc-editor.org/rfc/rfc9113.html#section-8.2.3-2

> To allow for better compression efficiency, the Cookie header field MAY be split into separate header fields, each with one or more cookie-pairs. If there are multiple Cookie header fields after decompression, these MUST be concatenated into a single octet string using the two-octet delimiter of 0x3b, 0x20 (the ASCII string "; ") before being passed into a non-HTTP/2 context, such as an HTTP/1.1 connection, or a generic HTTP server application.

but if the server MUST be tolerant to multiple Cookies, maybe we can relax the HTTP/2 or HTTP/3 requirements? 

This was the output of the discussion in https://github.com/httpwg/http-extensions/issues/2541.

Thanks Mike, I missed that discussion first time around.

My question comes about because of some HTTP/2 code I looked at that simply implements HTTP/2 and so combines the multiple fields back into one. But as @bagder and @guoye-zhang alluded to their comments on #2541, the splitting could be done for some reason thst isn't purely about H2 or H3 compression optimization.

It seems there are actually use cases where keeping the split is useful, and not just in a private deployment. Of course relaxing things more might have unintended consequences.

I find the current text too terse to be useful. This is a cookie spec, it seems like the right place to ba adding commentary about how to handle cookies across various version and conversions. Especially some anecdotal examples about why some clients actually do it.

Mentioning why a server should be tolerant, and what shape that could take, seems reasonable to me. Especially given how nicely it dovetails with #2797.

> Section 5 is huge, what requirement is the text in section 4.2 forward referencing to?

What forward reference are you referring to? `...the user agent will send a Cookie header field that conforms to the following grammar:`?

Some more text sounds good and I'm happy to review. 

> What forward reference are you referring to? ...the user agent will send a Cookie header field that conforms to the following grammar:?

In Section 4.2.1:

> The user agent sends stored cookies to the origin server in the Cookie header field. If the server conforms to the requirements in [Section 4.1](https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#sane-set-cookie) (and the user agent conforms to the requirements in [Section 5](https://httpwg.org/http-extensions/draft-ietf-httpbis-rfc6265bis.html#ua-requirements)), the user agent will send a Cookie header field that conforms to the following grammar: