Handling of invalid secondary server certificates is unclear

It is very unclear from the draft how exactly the client should handle a secondary server certificate it rejects. Presumably a bad secondary certificate should not be fatal to streams which don't use it. The draft seems to handwaive at this (though not very clearly, which means uncertainty for the server) in section 4.

At the same time, the draft says:

>   If a client receives a "PUSH_PROMISE" referencing an origin for which
>   it has not yet received the server's certificate, this is a fatal
>   connection error (see section 8.2 of [RFC7540]).  To avoid this,
>   servers MUST supply the associated certificates before pushing
>   resources from a different origin.

This is inconsistent with that idea. Suppose the server pushes some CERTIFICATE frame along with some resources it thinks the client would want. If the client rejects that certificate, this text implies the client must tear down the entire connection, interrupting unrelated requests.

A useful heuristic for reasoning through all this would be to consider a client which blindly rejects every secondary certificate. This is especially relevant if the draft does not act on #1087.

The restriction on the server is that it not push unless it has first sent the certificate.  If the client rejects the certificate, clearly it will discard the push; the question is whether the client will be able to differentiate failure-to-send from cert-not-accepted.  That depends on whether you assume that clients will look at the certificates, even if they aren't accepted; otherwise, I suspect that it can't.

However, I think you're right that this is an overreaction.  RFC7540 requires that a PUSH_PROMISE for an unproven origin be treated as a stream error, but doesn't specify on which stream.  The parent stream still seems excessive, since the server can't know for which origins the client considers it authoritative.