query-method: LC feedback from Rahul Gupta

from <https://lists.w3.org/Archives/Public/ietf-http-wg/2025OctDec/0130.html>

1. Abstract. Nothing wrong with it, but it would be nice to align the language with RFC9110, Section 9.3.3,

Suggest: "The QUERY method requests that the target resource process the representation enclosed in the request in a safe/idempotent manner according to the resource's own specific semantics and return the result."

Additionally, you might want to add something like: "This enables clients to make complex queries that might be too voluminous to be described using query parameters. It is similar to POST ..." to clarify the "why" of this spec in the abstract.

2. Similarly, for first para, under Section 1:

Replace: "containing content that describes" => "that encloses a representation describing"

 -> https://github.com/httpwg/http-extensions/commit/352b0fdff1577a4cc409df0ae6ca335a3c62c342

3. Paragraph below the POST example in Section 1 is quite verbose.

Suggest: "In this variation, it is not readily apparent..."

-> https://github.com/httpwg/http-extensions/commit/3ecaf63d70317acfe0f5950586cac3c4f33e860c

4. First para under 2. Query, says, "The query operation is described by the request content."

The second para starts as,  "The content of the request and its media type define the query."

Suggest: Drop the sentence in first para. Possibly simplify sentence structure in para 1.

-> https://github.com/httpwg/http-extensions/pull/3316/commits/e31ec2c306364f8154042e26fa94658b10b8527c

5. Section 2.1, Para 2

Replace: "The list below describe" => "The list below describes" 

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

6. Fourth Bullet in 2.1 

Replace: "can not" => "cannot"

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

7. Section 2.2: either all instances or first instance of "equivalent resource" should be italicized, or none should be (currently the one in second para is not). I think the correct thing though is to cross-link terms from outside and not italicize. Please check against the style-guide.

8. Section 2.5, Para 2

Replace: "A response with either of the status codes" => "A response with either status codes".
For consistency, replace: "Likewise, a response with either" => "Likewise, a response with either status codes".

-> https://github.com/httpwg/http-extensions/commit/352b0fdff1577a4cc409df0ae6ca335a3c62c342

Close the bracket after, "(Found, [HTTP], Section 15.4.3"

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

9. The "For Instance, by" in 4th paragraph under Section 2.7 should be a continuation of the previous section to preserve a sentence structure for the bullets. Actually, para 3 might better read "To improve cache efficiency, caches MAY remove semantically insignificant differences first, for instance, by:". 

-> https://github.com/httpwg/http-extensions/pull/3316/commits/4366b7f1e3295cdf6ccd5b4a67c0c73d7cb46ef2

10. Section 2.6 Para 2: "A conditional QUERY requests that that selected representation".

Remove extra "that". Replace it with an article.

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

11. Section 2.7 Para 1:

Remove spurious close bracket before the full stop.

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

12. Section 2.7, last two para:

Clients is plural, where as client is singular in the rest of the spec.

(Servers is plural in 4 places out of 30+ throughout the document)

13. Section 2.8 Para 2: for clarity 

Suggest: "It is expected that features built in these formats will be used instead of HTTP Range Requests."

14. A5: Remove space before full stop in the first sentence.

-> github.com/httpwg/http-extensions/pull/3316/commits/81e0182497c739852d2be7fc0b862a847b92f49d

15. Suggest moving the first data flow diagram in A.5 before the example code that uses equivalent resources. And even splitting A.5. with a subsection for equivalent resource.

BR/Rahul

> Abstract. Nothing wrong with it, but it would be nice to align the language with RFC9110, Section 9.3.3,
>
> Suggest: "The QUERY method requests that the target resource process the representation enclosed in the request in a safe/idempotent manner according to the resource's own specific semantics and return the result."

Understood.  But IMHO the purpose of the Abstract is to give readers a really short description of what this is about. It is unlikely that these readers understand the nuances of the HTTP terminology.

> Additionally, you might want to add something like: "This enables clients to make complex queries that might be too voluminous to be described using query parameters. It is similar to POST ..." to clarify the "why" of this spec in the abstract.

The abstract is supposed to be short. If a reader understands the abstract and keeps reading, (s)he'll get to the introduction.

>  Section 2.8 Para 2: for clarity
>
> Suggest: "It is expected that features built in these formats will be used instead of HTTP Range Requests."

That doesn't really seem to be clearer.