Alias proxy status, Erik Kline review

# Internet AD comments for draft-ietf-httpbis-alias-proxy-status-05
CC @ekline

* comment syntax:
 - https://github.com/mnot/ietf-comments/blob/main/format.md

* "Handling Ballot Positions":
 - https://ietf.org/about/groups/iesg/statements/handling-ballot-positions/

## Comments

### S2

* Why is the value defined as a String that can be comma-separated as opposed
 to a List (of Strings)?

### S3

* Up to you, but feel free to reference RFC 3493 section 6.1 for getaddrinfo
 and discussion of the AI_CANONNAME flag.

## Nits

### S3

* "might not available" ->
 "might not be available"

👍