sfbis: ABNF appendix

"This section uses the Augmented Backus-Naur Form (ABNF) notation [[RFC5234]](https://greenbytes.de/tech/webdav/draft-ietf-httpbis-sfbis-latest.html#RFC5234) to illustrate expected syntax of Structured Fields. In doing so, it uses the VCHAR, SP, DIGIT, ALPHA, and DQUOTE rules from [[RFC5234]](https://greenbytes.de/tech/webdav/draft-ietf-httpbis-sfbis-latest.html#RFC5234). It also includes the tchar and OWS rules from [[RFC7230]](https://greenbytes.de/tech/webdav/draft-ietf-httpbis-sfbis-latest.html#RFC7230)."

Minor issues:

- should refer to RFC9110
- VCHAR is actually not used in the ABNF but in prose earlier in the spec; it probably would be better to move this paragraph back to "1.2.  Notational Conventions".

I don't think that's sufficient (see for instance the preceding sentence mentioning DQUOTE).

How's that?

I believe we should move the imported ABNF definitions back up to "1.2 Notational Conventions". Even if the ABNF has been moved to an appendix, the imported ABNF rules still are used normatively in the prose, so need to be defined upfront.

Should I create a PR?

LGTM, thanks.