ABNF for "parameter"

Bence Béky in <http://lists.w3.org/Archives/Public/ietf-http-wg/2015AprJun/0220.html>:

"I need some clarification.  I am writing a parser for ALTSVC header
fields and wish to ignore unknown parameters.  However, it is unclear
to me whether a parameter without "=value" should be ignored or
treated as malformed.

draft-ietf-httpbis-alt-svc-06 Section 3 refers to "parameter".
Section 1.1 says "parameter" is defined in RFC7230.  In fact, RFC7230
has "transfer-parameter" but not "parameter".  Also, RFC7230 Section
says "Parameters are in the form of a name or name=value pair.",
implicilty allowing names without values, but in the next line
"transfer-parameter" is defined as a name=value pair, which disallowes
names without values.  On the other hand, RFC7231 Section 3.1.1.1
defines "parameter" as a name=value pair, but this is not what
draft-ietf-httpbis-alt-svc-06 refers to."