Trailers with "connect-tcp"?

RFC 9209 specifically calls out some [use cases for Proxy-Status as a trailer](https://www.rfc-editor.org/rfc/rfc9209.html#section-2-11).  draft-ietf-connect-tcp says

> In HTTP/2 or HTTP/3, proxies MAY additionally send a "Proxy-Status" trailer in the event of an abrupt stream closure.

However, RFC 9113 (HTTP/2) [says](https://datatracker.ietf.org/doc/html/rfc9113#section-8.5-6)

> Frame types other than [DATA](https://datatracker.ietf.org/doc/html/rfc9113#DATA) or stream management frames ([RST_STREAM](https://datatracker.ietf.org/doc/html/rfc9113#RST_STREAM), [WINDOW_UPDATE](https://datatracker.ietf.org/doc/html/rfc9113#WINDOW_UPDATE), and [PRIORITY](https://datatracker.ietf.org/doc/html/rfc9113#PRIORITY)) MUST NOT be sent on a connected stream and MUST be treated as a [stream error](https://datatracker.ietf.org/doc/html/rfc9113#StreamErrorHandler) ([Section 5.4.2](https://datatracker.ietf.org/doc/html/rfc9113#StreamErrorHandler)) if received.

and RFC 9114 (HTTP/3) [says](https://datatracker.ietf.org/doc/html/rfc9113#section-8.5-6)

> Once the CONNECT method has completed, only [DATA](https://datatracker.ietf.org/doc/html/rfc9114#frame-data) frames are permitted to be sent on the stream. Extension frames MAY be used if specifically permitted by the definition of the extension. Receipt of any other known frame type MUST be treated as a [connection error](https://datatracker.ietf.org/doc/html/rfc9114#errors) of type [H3_FRAME_UNEXPECTED](https://datatracker.ietf.org/doc/html/rfc9114#H3_FRAME_UNEXPECTED).


Possible ways forward:
1. Drop this text from connect-tcp.
  - This leaves no way to convey details of why a connection closed uncleanly (e.g. "this proxy instance is shutting down" vs. "connection timeout" vs. "you have exceeded your monthly transfer quota") for debugging.
2. Define a new Capsule to convey shutdown metadata (generally) or Proxy-Status (specifically).
  - Allows HTTP/1.1 support
  - Creates redundancy with trailers and/or Proxy-Status in HTTP/2 and HTTP/3.  Adds some complexity when chaining proxies.
3. Interpret ":protocol" values as "extensions" for the purpose of HTTP/3 ("Extension frames MAY be used if specifically permitted by the definition of the extension"), and assume a similar extensibility rule in HTTP/2.  Add text noting that "connect-tcp" permits trailers.
  - Adds complexity to ["HTTP version translation" of the Capsule Protocol](https://datatracker.ietf.org/doc/draft-kb-capsule-conversion/), if this behavior is only permitted for a subset of Capsule Protocol requests.
4. Allow trailers in all Capsule-Protocol or all Extended-CONNECT responses.
  - Theoretically constitutes a non-backward-compatible change to published RFCs.  (Unclear if this would have any practical consequence.)
  - Probably requires a separate draft.

See also [the mailing list thread](https://lists.w3.org/Archives/Public/ietf-http-wg/2026JanMar/0043.html).

The Working Group concluded that it would be best to disallow the use of trailers with "connect-tcp".  I have changed this text to say:

> Clients and proxies MUST NOT send trailer fields on "connect-tcp" streams.